<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">Admin Page</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="@Url.Action("Index","Personel")">Personels</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="@Url.Action("Index","Project")">Projects</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="@Url.Action("Index","Taskk")">Tasks</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="@Url.Action("Index","Titles")">Titles</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="@Url.Action("Index","Unit")">Units</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="@Url.Action("Index","Kid")">Kids</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="@Url.Action("Reports","Admin")">Report Page</a>
    </div>
</div>